@import url("Style/header.css");


:root{
    --cor-de-fundo: #EBECEE;
    --cor-secundaria: #FFFFFF;
    --cor-azul: #002F52;
    --cor-dourada: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

body{
    background-color: var(--cor-de-fundo);
}