.carrossel__titulo{
    color: var(--cor-dourada);
    background-color: var(--cor-secundaria);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700 bold;
    padding: 1em 0 1em 0;
}