/* Cabeçalho do site */

.cabecalho__menu-hamburguer{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../Assets/Menu.svg");
    display: inline-block;
}

.cabecalho{
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 3rem;
}

.container{
    display: flex;
    align-items: center;
    gap: 2px;
}

.container__imagem{
    width: 2.17981rem;
    height: 2rem;
    padding: 0 .3em 0 .3em;
}
/* PARTE DO "BOTÃO" DO CABEÇALHO */

.lista-menu{
    display: none;
    position: absolute;	
    top: 100%;
    width: 60vw;
}

/* PARTE QUE CHECA SE O BOTÃO ESTÁ CLICADO OU NÃO */

.container__botao:checked ~ .lista-menu{
    display: block;
    background-color: var(--cor-azul);
}


.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--cor-secundaria);
}

.lista-menu__titulo{
    color: var(--cor-dourada);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

/* MEDIA QUERY TABLETS */

@media screen and (min-width: 1024px){
    .container__titulo,
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo{
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .opcoes{
      display: flex;  
    }
    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho__menu-hamburguer{
        display: none;
    }
    .container__imagem-transparente{
        display: none;
    }

}